# SwitchFrogUI default config - Winamp-style OneBit VFD theme
volume: -1
start directory: /mnt/sdcard
show files: all
follow playlist: on
wps: /.rockbox/wps/OneBit_VFD.wps
sbs: /.rockbox/wps/OneBit_VFD.sbs
foreground color: 676767
background color: 000000
font: /.rockbox/fonts/14-LanaPixel.fnt
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
backdrop: -
show icons: on
filetype colours: -
scrollbar: off
scrollbar width: 8
selector type: bar (inverse)
statusbar: off
ui viewport: -
