# TreeFrogUI default config - Snappy theme
volume: -1
start directory: /mnt/sdcard
show files: all
follow playlist: on
wps: /.rockbox/wps/Snappy.wps
sbs: /.rockbox/wps/Snappy.sbs
foreground color: deb6b5
background color: 08385a
font: /.rockbox/fonts/22-KodeMono-SemiBold.fnt
iconset: /.rockbox/icons/Snappy.bmp
viewers iconset: /.rockbox/icons/Snappy_viewer.bmp
backdrop: -
show icons: on
filetype colours: -
scrollbar: right
scrollbar width: 8
selector type: bar (inverse)
statusbar: top
ui viewport: -
